@using HR_System.Models.ViewModels;
@model AdminViewModel

<p>Number of Employees: @Model.EmployeesNumber</p>

<p>Salaries average: @Model.AvgSalary</p>

<p>Number of HR employees: @Model.CountHR</p>
<p>Number of IT employees: @Model.CountIT</p>
<p>Number of Manager employees: @Model.CountManager</p>
<p>Number of Team Leader employees: @Model.CountTeamLeader</p>

